# Node.js dependencies
node_modules/
**/node_modules/

# Build files
dist/
build/
.vite/

# Environment variables
.env
**/.env

aim.txt
new.txt

# Logs & cache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store

# Editor files
.vscode/
.idea/
*.swp

# Git-related
.git/
.vercel
